:root {
    --color-base: #fff9ea;
    --color-mantle: #fef4dd;
    --color-crust: #ebdcb8;
    --color-dent: #f5eedd;
    --color-text: #7a5a43;
    --color-text-selection: #f5d09f;
    --color-key: #ae7954;
    --color-weak: #cdb09c;
    --color-divide: #c1a177;
    --color-outline: #ffdb9a;
    --color-accent: #f59768;
    --color-accent-fg: #ffdb9a;
    --color-overlay: #ebdcb8;
    --color-positive: #a8cf88;
    --color-positive-fg: #4c634e;
    --color-danger: #e07a83;
    --color-danger-fg: #723033;
    --color-warning: #f9d48b;
    --color-warning-fg: #8b5a2d;
}

:root {
    --color-base: #1e1e2e;
    --color-mantle: #2e2e3e;
    --color-crust: #20202f;
    --color-dent: #2e2e3e;
    --color-text: #e3bfd3;
    --color-text-selection: #d08a9a;
    --color-key: #c48fad;
    --color-weak: #423e4a;
    --color-divide: #a67a8a;
    --color-outline: #503843;
    --color-accent: #ff95af;
    --color-accent-fg: #503843;
    --color-overlay: #504262;
    --color-positive: #8ccf7e;
    --color-positive-fg: #2f4726;
    --color-danger: #e8647c;
    --color-danger-fg: #4a1e2c;
    --color-warning: #f5c26b;
    --color-warning-fg: #4a341f;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;
    background-color: var(--color-base);
}

.picocmt {
    max-width: 800px;
    width: 100%;
}

.picocmt > .notify {
    position: relative;
    display: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 16px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;

    .title {
        font-weight: bold;
    }

    .close {
        position: absolute;
        top: 4px;
        right: 4px;
        border: none;
        background-color: #00000000;
        font-size: 18px;
    }
}
.picocmt > .notify.info {
    display: inline-block;
    background-color: var(--color-positive);
    color: var(--color-positive-fg);
    .close {
        color: var(--color-positive-fg);
    }
}
.picocmt > .notify.warn {
    display: inline-block;
    background-color: var(--color-warning);
    color: var(--color-warning-fg);
    .close {
        color: var(--color-warning-fg);
    }
}
.picocmt > .notify.error {
    display: inline-block;
    background-color: var(--color-danger);
    color: var(--color-danger-fg);
    .close {
        color: var(--color-danger-fg);
    }
}

.picocmt > .send {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-bottom: 70px;
    padding: 22px 0 0 0;
    border-radius: 10px;
    color: var(--color-text);

    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 22px;
        padding: 0 6px;
        background-color: var(--color-key);
        color: var(--color-accent-fg);
        font-size: 14px;
        font-weight: bold;
        user-select: none;

        i {
            margin-right: 6px;
        }
    }

    .editor {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 6px 6px;
        border: none;
        outline: none;
        resize: none;
        box-sizing: border-box;
        background-color: var(--color-outline);
        color: var(--color-text);
    }

    .bottom {
        display: flex;
        flex-grow: 1;
        width: 100%;
        height: 42px;
        padding: 6px;
        box-sizing: border-box;
        background-color: var(--color-divide);

        input {
            border: none;
            outline: none;
            padding: 0 8px;
            border-radius: 100px;
            background-color: var(--color-outline);
            color: var(--color-text);
        }
        input.nickname {
            max-width: 100px;
            width: 20%;
            margin-right: 6px;
        }
        input.email {
            max-width: 200px;
            width: 40%;
        }

        .send-button {
            width: 70px;
            margin-left: auto;
            border-radius: 100px;
            border: none;
            background-color: var(--color-accent);
            color: var(--color-accent-fg);

            i {
                font-size: 12px;
                margin-right: 4px;
            }
        }
    }
}

.picocmt > .comments {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 150px;
    width: 100%;
    gap: 10px;
    border-radius: 10px;
    color: var(--color-text);

    .comment {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    .comment.left {
        flex-direction: row;
    }
    .comment.right {
        flex-direction: row-reverse;

        .meta {
            margin-left: auto;
        }
    }

    .comment {
        .avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: var(--color-dent);
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid var(--color-key);
            border-radius: 50%;
            box-sizing: border-box;
        }

        position: relative;
        .bubble {
            display: flex;
            flex-direction: column;
            max-width: calc(100% - 124px);
            padding: 8px 12px;
            border-radius: 10px;
            background-color: var(--color-outline);
            color: var(--color-text);
            font-family: sans-serif;

            .meta {
                display: flex;
                margin-bottom: 6px;
                gap: 6px;
                span {
                    width: fit-content;
                    padding: 0 6px;
                    border-radius: 100px;
                    background-color: var(--color-key);
                    color: var(--color-accent-fg);
                    font-size: 12px;
                    white-space: nowrap;
                }
                span.email {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .content {
                font-size: 14px;
            }
        }
    }
}
